language: node_js

cache: yarn

node_js:
  - 10

notifications:
  email: false

branches:
  only:
    - master
  except:
    - /^v\d+\.\d+\.\d+$/

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version $YARN_VERSION
  - export PATH="$HOME/.yarn/bin:$PATH"

after_success:
  - npm install -g travis-deploy-once
  - travis-deploy-once "npm run semantic-release"
